/** {
	outline: 1px solid red;
}*/

.profileDot {
	height:50px;
	width:50px;
	border: 2px solid #FFFFFF;
}

.instaBoxContainer {
	height: 25%;
	width: 25%;
	margin: 0;
	padding: 3px;
}

.instaBox {
	height: 70%;
}

.instaPic {
	border: 3px solid #2AA1E6;
}

.tagSite {
	height: 30%;
}

span.textHover-content {
  background: rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  /*display: table;*/
  height: 96%;
  left: 2.1%;
  position: absolute;
  top: 2.1%;
  width: 96%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.textHover-content span {
	 height: 96%;
  left: 2%;
  position: absolute;
  top:35%;
  width: 96%;
}

.imgHover a:hover span.textHover-content {
	opacity: 1;
}

/*.enlarge:hover {
	transform:scale(2,2);
	transform-origin:0 0;
}*/

.profileBox {
	/*background: #D9EDF7;*/
	border-radius: 5%;
	/*border: 3px solid #2AA1E6;*/
}

.profilePic {
	border-radius: 5%;
	/*border: 3px solid #044788;;*/
}

.userInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.collectionsList {
	list-style-type: none;
	padding: 0;
}




