/** {
	outline: 1px solid red;
}*/


.instaBoxContainer {
	height: 25%;
	width: 25%;
	margin: 0;
	padding: 3px;
}


.instaBox img {
	border: 3px solid #2AA1E6;
	border-radius: 100%;
}

/*.enlarge:hover {
	transform:scale(2,2);
	transform-origin:0 0;
}*/