<div class="row">
	<div class="col-md-3">
		<div class="col-md-12 profileBox text-center">
	  	<div class="profilePic"><img src="{{profile.profilePic}}" class="img-responsive img-thumbnail"></div>
	  	<div class="userInfo"><h3>{{profile.name}}</h3></div><hr>
		</div>
		<div class="col-md-12 text-center">
			<h4 style="text-decoration: underline">Collections</h4>
			<ul class="collectionsList text-center">
			  <li ng-repeat="collection in collections">
					<a href="/#/collections/{{collection.name}}">#{{collection.name}}</a>
			  </li>
			</ul>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class-"col-md-12">
				<div class="col-md-4"></div>
				<div class="col-md-4"><div class="text-center"><h2>#{{title}}</div></div>
				<div class="col-md-4 text-center">
					<h4><a href="/#/home" ng-click="deleteCollection()"><i class="fa fa-trash-o"></i>Coming Soon</a></h4>
				</div>
			</div>
		</div><hr>
		<div class="instaBoxContainer col-md-3" ng-repeat="media in populateCollection" >
			<div class="instaBox text-center imgHover">
				<!-- NG SHOW FOR IMG -->
				<a data-toggle="modal" data-target="#myModal" ng-show="!media.videos.standard_resolution.url">
					<img src="{{media.images.standard_resolution.url}}" class="img-responsive img-circle instaPic" class="text-center">
					<span class="textHover-content img-circle img-responsive text-center">
						<span class="text-center"><div class="text-center" ng-repeat="tag in media.tags">#{{tag}}<br/></div></span>
					</span>
				</a>	
				<!-- NG SHOW FOR VIDEO -->
				<a data-toggle="modal" data-target="#myModal" ng-show="media.videos.standard_resolution.url">
					<video src="" dynamic-url dynamic-url-src="{{media.videos.standard_resolution.url}}" controls class="img-responsive img-circle instaPic">
					</video>
					<span class="textHover-content img-responsive img-circle text-center">
						<span class="text-center"><div class="text-center" ng-repeat="tag in media.tags">#{{tag}}<br/></div></span>
					</span>
				</a>	
			</div>
		</div>
	</div>
</div>



<!-- <div id="container" ng-show="media.videos.standard_resolution.url">
	<video src="" dynamic-url dynamic-url-src="{{media.videos.standard_resolution.url}}" class="img-responsive img-circle instaPic">
	</video>
	<div id="controls"> 
		<div id="video-controls">
   	  <button type="button" id="play-pause"><i class="fa fa-play"></i>/<i class="fa fa-pause"></i></button>&nbsp&nbsp
    	<button type="button" id="full-screen"><i class="fa fa-arrows-alt"></i></button>
 	 	</div>
	</div>
</div>	
 -->


<!-- 
		<div class="col-md-12">
			<div class="text-center"><h2>#{{title}}</h2></div><hr>
			<div class="col-md-3 text-center" ng-repeat="media in populateCollection">
				<img src="{{media.images.standard_resolution.url}}" class="img-responsive img-circle instaPic">
			</div>
		</div>
	</div>
</div>

 -->
