
<div class="row">
	<div class="col-md-3 text-center"><img src="http://www.gathercollegehill.com/GATHER-LOGO-dropshadow.png" style="width:150px; height:150px"></div>
	<div class="col-md-9 text-center">
	  <div class="form-group">
		  <label class="control-label" for="inputDefault"><h3>Search Your #hashtags</h3></label>
		  <form ng-submit="hashSearch()">
		  	<input type="text" placeholder="Search" class="form-control" id="inputDefault" ng-model="hashInfo">
		  </form>


      <pagination ng-show="!hashInfo" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="maxSize"></pagination>


		</div>
	</div>
</div>
<div class="row">  
  <div class="col-md-3 col-sm-3 col-xs-12">
  	<div class="col-md-12 profileBox text-center">
  		<div class="profilePic"><img src="{{profile.profilePic}}" class="img-responsive img-thumbnail"></div>
  		<div class="userInfo"><h3>{{profile.name}}</h3></div>
				<div class="col-md-12 col-sm-12 col-xs-12">
	  			<div class="col-md-4 col-sm-4 col-xs-4 text-center"><h6>Followed</h6><h4>{{profile.followed_by}}</h4></div>
	  			<div class="col-md-4 col-sm-4 col-xs-4 text-center"><h6>Follows</h6><h4>{{profile.follows}}</h4></div>
	  			<div class="col-md-4 col-sm-4 col-xs-4 text-center"><h6>Posts</h6><h4>{{profile.posts}}</h4></div>
  			</div>
  			<div class="col-md-12 text-center"><h5>{{profile.bio}}</h5><hr></div>
  			<div class="col-md-12 text-center">
  				<div class="form-group">
					  <label class="control-label" for="inputDefault"><h4 style="text-decoration: underline">Save a Collection</h4></label>
					  <form ng-submit="collectionPost(colName)" id="collectionInput">
					  	<label class="control-label" for="inputDefault"><h6>Enter the exact hashtag:</h6></label>
					  	<input type="text" ng-submit="collectionPost(colName)" placeholder="Ex: BestDayEver" class="form-control" id="inputDefault" ng-model="colName">
					  </form>
					</div>
  				<ul class="collectionsList text-center">
					  <li ng-repeat="collection in collections">
							<a href="/#/collections/{{collection._id}}/{{collection.name}}">#{{collection.name}}</a><a ng-click="deleteCollection(collection._id)">&nbsp<i class="fa fa-trash-o fa-lg hoverIcon"></i></a>
					  </li>
					</ul>
  			</div>
  	</div>
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12 addShadow">

  <!-- ########### NG SHOW FOR SEARCH BAR ############ -->
  	<div ng-show="hashInfo" class="instaBoxContainer col-md-3 col-sm-3 col-xs-12" ng-repeat="media in allMedia | filter: hashInfo" >
      <div class="instaBox text-center imgHover">
        <div data-toggle="modal" ng-click="setMedia($index)" data-target="#myModal" ng-show="!media.videos.standard_resolution.url">
          <img src="{{media.images.standard_resolution.url}}" ng-show="!media.videos.standard_resolution.url" class="img-responsive img-circle instaPic" class="text-center">
          <video src="" dynamic-url dynamic-url-src="{{media.videos.standard_resolution.url}}" ng-show="media.videos.standard_resolution.url" controls class="img-responsive img-circle instaPic">
          </video>
          <span class="textHover-content img-circle img-responsive text-center">
            <span class="text-center"><div class="text-center" ng-repeat="tag in media.tags"><a href="/#/collections/{{tag.length}}/{{tag}}" class="tagLink">#{{tag}}</a><br/></div></span>
          </span>
        </div>          
      </div>
    </div>


    <!-- ######### NG SHOW FOR PAGINATION ########### -->
    <div ng-show="!hashInfo"class="instaBoxContainer col-md-3 col-sm-3 col-xs-12" ng-repeat="media in filteredMedia">
  		<div class="instaBox text-center imgHover">
  			<div data-toggle="modal" ng-click="setMedia($index)" data-target="#myModal" >
  				<img src="{{media.images.standard_resolution.url}}" ng-show="!media.videos.standard_resolution.url" class="img-responsive img-circle instaPic" class="text-center">
          <video src="" dynamic-url dynamic-url-src="{{media.videos.standard_resolution.url}}" ng-show="media.videos.standard_resolution.url" controls class="img-responsive img-circle instaPic">
          </video>
  				<span class="textHover-content img-circle img-responsive text-center">
  					<span class="text-center"><div class="text-center" ng-repeat="tag in media.tags"><a href="/#/collections/{{tag.length}}/{{tag}}" class="tagLink">#{{tag}}</a><br/></div></span>
  				</span>
  			</div>	        
  		</div>
  	</div>

    <div class="col-md-12"></div>

    <a href="#top">
    <div ng-show="!hashInfo" class="col-md-12">
      <pager total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" total-items="totalItems" items-per-page="itemsPerPage"></pager>
    </div></a>

  	<div class="col-md-2"></div>
  	<div class="col-md-8">
  		<div class="panel panel-default text-center">
  			<div class="panel-body" ng-show="!gif2">
  				<h3 class="text-center"><img src="../../gif/710.GIF" style="height:100px; width:100px"><br/>Loading</h3><br/><h4 class="text-center">If this is your first time ever logging in<br/>it may take a while to Gather your pictures</h4>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-2"></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close modalButton modalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span>
        </button>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8 noPad">
              <img src="{{filteredMedia[index].images.standard_resolution.url}}" class="img-responsive" ng-show="!filteredMedia[index].videos.standard_resolution.url">
              <video src="" dynamic-url dynamic-url-src="{{filteredMedia[index].videos.standard_resolution.url}}" controls class="img-responsive" ng-show="filteredMedia[index].videos.standard_resolution.url">
              </video>
            </div>
            <div class="col-md-4 noPad modalSidebar">
              <div class="col-md-12">
                <div class="col-md-12 noPad">
                  <hr class="commentMarg">
                  <div class="col-md-9 noPad">
                    <div class="col-md-12 noPad text-center">
                      <small><strong>{{profile.name}} @{{profile.username}}</strong></small>
                    </div>
                    <div class="col-md-12 noPad text-center">
                      <small>{{filteredMedia[index].created_time * 1000 | date: "EEE, MMM d '@' h:mm a"}}</small>
                    </div>
                  </div>
                  <div class="col-md-3 noPad">
                    <img src="{{profile.profilePic}}" class="img-responsive">
                  </div>
                </div>
                {{filteredMedia[index].caption.text}}<br/>
                <div class="col-md-6 text-center">
                  <h5>Comments:<br/> <strong>{{filteredMedia[index].comments.count}}</strong></h5>
                </div>
                <div class="col-md-6 text-center">
                  <h5>Likes:<br/> <strong>{{filteredMedia[index].likes.count}}</strong></h5>
                </div>
                <div class="col-md-12 noPad" ng-repeat="comment in filteredMedia[index].comments.data">
                <hr class="commentMarg">
                  <div class="col-md-3 noPadLeft">
                    <img src="{{comment.from.profile_picture}}" class="img-responsive">
                  </div>
                  <div class="col-md-9 noPad">
                    <div class="col-md-12 noPad">
                      <small><strong>{{comment.from.full_name}} @{{comment.from.username}}</strong></small>
                    </div>
                    <div class="col-md-12 noPad">
                      <small>{{comment.created_time * 1000 | date: "EEE, MMM d '@' h:mm a"}}</small><hr class="commentMarg">
                    </div>
                  </div>
                  <div class="col-md-12 noPad topBotPad">
                    "{{comment.text}}"
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a ng-click="nextPage()" class="modalPageRight"><i class="fa fa-chevron-right fa-3x"></i></a>
        <a ng-click="backPage()" class="modalPageLeft"><i class="fa fa-chevron-left fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- <div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.images.standard_resolution.url}}" style="margin:auto;">
        <div class="carousel-caption">
        	<div ng-repeat="slide in slides.tags">
          <h4>{{slide.tags}}</h4>
          </div>
          <p>{{slide.caption.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
 -->
